.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-bottom: 1em;
}

.submission {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#tweet-button {
  background-color: #ff8c57;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.counter {
  font-family: "Source Sans Pro", sans-serif;
}

/* Text box area */
textarea {
  width: 100%;
  border: none;
  resize: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.humming {
  text-align: left;
  width: 100%;
}


.addColour {
  color: red;
}

#over-error {
  display: none;
  color: #fafafa;
  background-color: #f7a0a5;
}

#empty-error {
  display: none;
  color: #fafafa;
  background-color: #f7a0a5;
}

/* Desktop  */
@media (min-width: 1024px) {
  
  .submission {
    margin-bottom: 1em;
  }
  
  .button{
    background-color: #ff8c57;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
  }
} ;
