.new-tweet {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 2em; 

    
  }


/* Parent Class for button and counter */
.submission {
  display: flex;
  justify-content: space-between;

}

.button {
  background-color: #4056a1;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.counter {
  font-family: "Source Sans Pro", sans-serif;
}

/* Text box area */
textarea{
  width: 100%;
  border: none;
  resize: none;
  background-color:transparent;
  border-bottom: 2px solid black;

}


.addColour{
  color: red;
}


#over-error {
  display: none;
  color: #feefb3; 
  background-color: #e63e46;
}

#empty-error {
  display: none;
  color: #feefb3; 
  background-color: #e63e46;
}


