.tweet-container {
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: auto;
  margin-bottom: 1em;
  
}

.tweet-container:hover {
  /* for the box shadow  */
  display: flex;
  background-color: #eee;
  box-shadow: 5px 5px 3px 1px #e6d7d0;
}

.tweet-container:hover .tweet-username {
  /* for the username*/
  opacity: 1;
  display: block;

}

.tweet-username {
  display: none;
  color: #ff8c57
}

.tweet-container:hover .tweet-icons {
  display: block;
  opacity: 1;

}

.tweet-icons {
  display: none;
  color: #ff8c57
  
}

.tweet-container-userinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-profile {
  display: flex;
  align-items: center;

}

.tweet-profile img {
  height: 3.5em;

}

.tweet-body {
  padding: 1px;
  padding-top: 5px;
  padding-bottom: 1em;
  margin-top: 40px;
  text-align: left;
   
}


.tweet-actions {
  display: flex;
  border-top: solid;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .container {
    min-width: 15em;
    padding-top: 150px;
    flex-direction: row;
  }
  .tweet-container {
    margin-bottom: 1em;
    word-break: break-all;
    margin-top: 1 em;
  }
} ;
