.tweet-container {
  border: 2px solid;
  border-radius: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: auto;
}

.tweet-container:hover {
  /* for the box shadow  */
  display: flex;
  background-color: #eee;
  box-shadow: 10px 10px 3px 1px #ff8c57;
}

.tweet-container:hover .tweet-username {
  /* for the username*/
  color: #000000;
  opacity: 1;
}

.tweet-container:hover .tweet-icons {
  display: block;
}

.tweet-icons {
  display: none;
}

.tweet-container-userinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-profile {
  display: flex;
  align-items: center;
}

.tweet-profile img {
  /* width: auto; */
  height: 3.5em;
}

.tweet-body {
  padding: 2.5rem 0rem;
}

.tweet-actions {
  display: flex;
  border-top: solid;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .container {
    min-width: 15em;
    padding-top: 150px;
  }
  .tweet-container {
    margin-bottom: 1em;
  }
} ;
